@page
@model CarRentalPlatform.Pages.BookCar.AllCarsModel
@{
    ViewData["Title"] = "All Cars";
}

<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>License Plate</th>
            <th>Status</th>
            <th>Brand</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.Model</td>
                <td>@car.LicensePlate</td>
                <td>@car.Status</td>
                <td>@car.Brand</td>
                <td>@car.Location</td>
                <td>
                    <form method="post" asp-page="./AddToCart">
                        <input type="hidden" name="CarId" value="@car.Id" />
                        <button type="submit">Add to Cart</button>
                    </form>
                </td>
            </tr>
            
        }
    </tbody>
    
</table>