@page "/admin/bookings/index"
@model CarRentalPlatform.Pages.AdminPage.BookingManagement.IndexModel

@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Pages/Shared/_LayoutAdminDashboard.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">
                <a href="/admin/index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Bookings</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">This is a table for managing bookings of platform.</div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <div class="card-header">
                    <form method="post" id="submit_form">
                        <label>Select Time Range:</label>
                        <select asp-for="Valuetime" id="timeRange">
                            <option value="">Select</option>
                            <option value="day">5 day Ago</option>
                            <option value="month">Last 30 Days</option>
                            <option value="year">Last 365 Days</option>
                        </select>
                    </form>
                </div>
                <div class="card-header">
                    <label>Total: @Model.total Đ</label>
                </div>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
@*                             <th>ID</th>
 *@                            <th>Customer</th>
                            <th>Renting date</th>
                            <th>Return date</th>
                            <th>Car model</th>
                            <th>License Plate</th>
                            <th>Feedback</th>
                            <th>Note</th>
                            <th>Deposit</th>
                            <th>Total</th>
                            <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.Booking)
                        {
                            <tr>
@*                                 <td>@item.BookingId</td>
 *@                                <td>@item.CustomerFirstName</td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                <td>@item.CarModel</td>
                                <td>@item.LicensePlate</td>
                                <td>@item.Feedback</td>
                                <td>@item.Note</td>
                                <td>@String.Format("{0:0,0}", item.DepositAmount)đ</td>
                                <td>@String.Format("{0:0,0}", item.TotalAmount)đ</td>


                                
                                <td>
                                    <a href="/admin/Bookings/detail?id=@item.BookingId">Detail</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#timeRange").change(function () {
            $("#submit_form").submit();
        });
    });
</script>
