@page
@using NuGet.Protocol
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CarRentalPlatform.Pages.AdminPage.Account.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "Shared/_LayoutDashboard";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountEntity[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountEntity[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountEntity[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountEntity[0].PhoneNumber)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.AccountEntity[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountEntity[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountEntity[0].WalletBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountEntity[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountEntity[0].DriverLicense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountEntity[0].DriverLicenseIssueDate)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AccountEntity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            @* <td>
                    @{
                        string genderText = item.Gender == true ? "Male" : "Female";
                    }
                    @Html.DisplayFor(modelItem => genderText)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalletBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverLicense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverLicenseIssueDate)
            </td> *@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<script>
	if (@Model.IsLogin.ToJson() === false) {
		window.location.href = "/login";	
	}
</script>