@page
@model CarRentalPlatform.Pages.AdminPage.AccountGenerate.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarEntity[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarEntity[0].LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarEntity[0].ThumbnailImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarEntity[0].PricePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarEntity[0].PricePerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarEntity[0].PricePerMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarEntity[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarEntity[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarEntity[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarEntity[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarEntity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThumbnailImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
