@page
@using NuGet.Protocol
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CarRentalPlatform.Pages.AdminPage.Car.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "Shared/_LayoutDashboard";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CarEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.LicensePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.LicensePlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Brand.BrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Location.Address)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CarEntity.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
    <script>
    	if (@Model.IsLogin.ToJson() === false) {
    		window.location.href = "/login";	
    	}
    </script>
</div>
