@page
@using NuGet.Protocol
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CarRentalPlatform.Pages.AdminPage.Car.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "Shared/_LayoutDashboard";
}

<h1>Details</h1>

<div>
    <h4>CarEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.LicensePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.LicensePlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Brand.BrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Location.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CarEntity?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<script>
	if (@Model.IsLogin.ToJson() === false) {
		window.location.href = "/login";	
	}
</script>
