@page "{id:int}"
@model CarRentalPlatform.Pages.AddToCartModel
@{
    ViewData["Title"] = "Car Details";
    Layout = "Shared/_LayoutDashboard";
}

<h1>Car Details</h1>

<h1>Details</h1>

<div>
    <h4>CarEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.LicensePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.LicensePlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Brand.BrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarEntity.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarEntity.Location.Address)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="BookingEntity.StartDate" class="control-label">Start Date</label>
                <input asp-for="BookingEntity.StartDate" class="form-control" type="date"/>
                <span asp-validation-for="BookingEntity.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingEntity.EndDate" class="control-label">End Date</label>
                <input asp-for="BookingEntity.EndDate" class="form-control" type="date" />
                <span asp-validation-for="BookingEntity.EndDate" class="text-danger"></span>
            </div>
            <button type="submit">Add to Cart</button>
        </form>
    </div>
</div>