@page
@model CarRentalPlatform.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "Shared/_LayoutDashboard";
}
<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.BookingEntities[0].StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.BookingEntities[0].EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.BookingEntities[0].DepositAmount)</th>
            <th>@Html.DisplayNameFor(model => model.BookingEntities[0].TotalAmount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model.BookingEntities)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => booking.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => booking.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => booking.DepositAmount)</td>
                <td>@Html.DisplayFor(modelItem => booking.TotalAmount)</td>
                <td><a asp-page="./BookingDetail" asp-route-id="@booking.Id">Details</a>td>
            </tr>
        }
    </tbody>
</table>
